@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Fly Messenger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column" style="height:100vh; overflow:hidden;">
    <header class="d-flex align-items-center justify-content-center" style="height:68px;">
        <h1 class="m-0 text-white">Fly Messenger</h1>
    </header>

    <div class="d-flex flex-grow-1 overflow-hidden">
        @Html.Partial("_LeftSidebar")

        <main class="flex-grow-1 d-flex flex-column p-4 overflow-hidden">
            <div class="container-fluid d-flex flex-column h-100 px-4">
                @RenderBody()
            </div>
        </main>

        @Html.Partial("_RightSidebar")
    </div>

    <script>
        window.currentUserId = '@User.FindFirstValue(ClaimTypes.NameIdentifier)';
        window.currentUserName = '@User.Identity.Name';
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/js/main.js" type="module" asp-append-version="true"></script>

    <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
